@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor-pencil {
  cursor:
    url("/pencil-cursor.png") 0 20,
    crosshair;
}

.cursor-eraser {
  cursor:
    url("/eraser-cursor.png") 4 16,
    cell;
}
